<div id="contactPicker" class="picker" title="Selezione del contatto">

	<div class="grid">

		<div class="form c12">

			<div class="subheader"><span>Inserire i campi di ricerca</span></div>

			<div class="row">
				<div class="c4"><span>Ragione sociale:<span></div>
				<div class="c8"><input id="searchDescription" type="text" placeholder="Inserire parte della ragione sociale" /></div>
			</div>

			<div class="row">
				<div class="c4"><span>Cognome:<span></div>
				<div class="c8"><input id="searchLastName" type="text" placeholder="Inserire parte del cognome" /></div>
			</div>

			<div class="row">
				<div class="c4"><span>Nome:<span></div>
				<div class="c8"><input id="searchFirstName" type="text" placeholder="Inserire parte del nome" /></div>
			</div>

		</div>

		<div class="c12">
			<table id="list" class="stripe hover row-border" width="100%">
				<thead>
					<tr>
						<th>Partita IVA</th>
						<th>Codice fiscale</th>
						<th>Ragione sociale</th>
						<th>Cognome</th>
						<th>Nome</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>Partita IVA</th>
						<th>Codice fiscale</th>
						<th>Ragione sociale</th>
						<th>Cognome</th>
						<th>Nome</th>
					</tr>
				</tfoot>
			</table>
		</div>

	</div>

</div>
