<div class="grid">

	<div class="form c12">

		<div class="header"><span>Dettaglio fattura</span></div>
		<div class="subheader"><span>Inserire i dati della fattura</span></div>

		<div id="accordion1">

			<h3>Emittente</h3>
			<div>

				<div class="row">
					<div class="c4"><span>Intestazione:<span></div>
					<div class="c8"><input id="issuerDescription" type="text" placeholder="Inserire l'intestazione dell'emittente della fattura" value="{{issuer.description}}"/></div>
				</div>

				<div class="row">
					<div class="c4"><span>Indirizzo:<span></div>
					<div class="c8"><input id="issuerAddress" type="text" placeholder="Inserire l'indirizzo dell'emittente della fattura" value="{{issuer.address}}" /></div>
				</div>

				<div class="row">
					<div class="c4"><span>Città:<span></div>
					<div class="c8"><input id="issuerCity" type="text" placeholder="Inserire la città dell'emittente della fattura" value="{{issuer.city}}" /></div>
				</div>

				<div class="row">
					<div class="c4"><span>Provincia:<span></div>
					<div class="c8"><input id="issuerCounty" type="text" placeholder="Inserire la provincia dell'emittente della fattura" value="{{issuer.county}}" /></div>
				</div>

				<div class="row">
					<div class="c4"><span>CAP:<span></div>
					<div class="c8"><input id="issuerZipCode" type="text" placeholder="Inserire la CAP dell'emittente della fattura" value="{{issuer.zipCode}}" /></div>
				</div>

				<div class="row">
					<div class="c4"><span>Partita IVA:<span></div>
					<div class="c8"><input id="issuerVatCode" type="text" placeholder="Inserire il codice di partita IVA dell'emittente della fattura" value="{{issuer.vatCode}}"/></div>
				</div>

				<div class="row">
					<div class="c4"><span>Codice fiscale:<span></div>
					<div class="c8"><input id="issuerCfCode" type="text" placeholder="Inserire il codice fiscale dell'emittente della fattura" value="{{issuer.cfCode}}"/></div>
				</div>

				<div class="row">
					<div class="c4"><span>Numero iscrizione registro imprese:<span></div>
					<div class="c8"><input id="issuerReaCode" type="text" placeholder="Inserire il numero di iscrizione al registro delle imprese dell'emittente della fattura" value="{{issuer.reaCode}}"/></div>
				</div>

				<div class="row">
					<div class="c4"><span>Capitale sociale:<span></div>
					<div class="c8"><input id="issuerStock" type="text" placeholder="Inserire il capitale sociale dell'emittente della fattura" value="{{issuer.stock}}"/></div>
				</div>

			</div>

		</div>

		<div id="accordion2">

			<h3>Destinatario</h3>
			<div>
			</div>

		</div>

		<div id="accordion3">

			<h3>Intestazione</h3>
			<div>
			</div>

		</div>

		<div id="accordion4">

			<h3>Dettaglio</h3>
			<div>
			</div>

		</div>

		<div id="accordion5">

			<h3>Totali</h3>
			<div>
			</div>

		</div>

		<div class="row buttons">
			<div class="c12 right">
				<button id="back">Indietro</button>
				<button id="save">Salva</button>
			</div>
		</div>
	</div>

</div>
