<div class="c12">
	<button id="addRow"><span class="ui-icon ui-icon-plus"></span></button>
	<button id="removeRow"><span class="ui-icon ui-icon-minus"></span></button>
	<button id="moveUp"><span class="ui-icon ui-icon-arrowthick-1-n"></span></button>
	<button id="moveDown"><span class="ui-icon ui-icon-arrowthick-1-s"></span></button>
</div>
<table id="rows" class="stripe hover row-border" width="100%" style="padding-top:10px;">
	<thead>
		<tr>
			<th>Posizione</th>
			<th>Articolo</th>
			<th>UM</th>
			<th>Quantità</th>
			<th>Prezzo unitario (€)</th>
			<th>Importo (€)</th>
			<th>IVA (%)</th>
		</tr>
	</thead>
</table>
