<div class="grid">

	<div class="form c12">

		<div class="header"><span>Dettaglio fattura</span></div>
		<div class="subheader"><span>Inserire i dati della fattura</span></div>

		<div id="accordion-header">

			<h3>Testata</h3>
			<div>

				<div class="row">
					<div class="c4"><span>Numero fattura:<span></div>
					<div class="c8"><input id="number" type="text" placeholder="Inserire il numero della fattura" value="{{number}}"/></div>
				</div>

				<div class="row">
					<div class="c4"><span>Data fattura:<span></div>
					<div class="c8"><input id="date" type="text" placeholder="Inserire la data della fattura" value="{{date}}" style="width:90%; margin-right: 5px;"/></div>
				</div>

			</div>

		</div>

		<div id="accordion-issuer">

			<h3>Emittente</h3>
			<div>

				<div class="row">
					<div class="c4"><span>Intestazione:<span></div>
					<div class="c8"><input id="issuerDescription" type="text" placeholder="Inserire l'intestazione dell'emittente della fattura" value="{{issuer.description}}"/></div>
				</div>

				<div class="row">
					<div class="c4"><span>Indirizzo:<span></div>
					<div class="c8"><input id="issuerAddress" type="text" placeholder="Inserire l'indirizzo dell'emittente della fattura" value="{{issuer.address}}" /></div>
				</div>

				<div class="row">
					<div class="c4"><span>Città:<span></div>
					<div class="c8"><input id="issuerCity" type="text" placeholder="Inserire la città dell'emittente della fattura" value="{{issuer.city}}" /></div>
				</div>

				<div class="row">
					<div class="c4"><span>Provincia:<span></div>
					<div class="c8"><input id="issuerCounty" type="text" placeholder="Inserire la provincia dell'emittente della fattura" value="{{issuer.county}}" /></div>
				</div>

				<div class="row">
					<div class="c4"><span>CAP:<span></div>
					<div class="c8"><input id="issuerZipCode" type="text" placeholder="Inserire il CAP dell'emittente della fattura" value="{{issuer.zipCode}}" /></div>
				</div>

				<div class="row">
					<div class="c4"><span>Partita IVA:<span></div>
					<div class="c8"><input id="issuerVatCode" type="text" placeholder="Inserire il codice di partita IVA dell'emittente della fattura" value="{{issuer.vatCode}}"/></div>
				</div>

				<div class="row">
					<div class="c4"><span>Codice fiscale:<span></div>
					<div class="c8"><input id="issuerCfCode" type="text" placeholder="Inserire il codice fiscale dell'emittente della fattura" value="{{issuer.cfCode}}"/></div>
				</div>

				<div class="row">
					<div class="c4"><span>Numero iscrizione registro imprese:<span></div>
					<div class="c8"><input id="issuerReaCode" type="text" placeholder="Inserire il numero di iscrizione al registro delle imprese dell'emittente della fattura" value="{{issuer.reaCode}}"/></div>
				</div>

				<div class="row">
					<div class="c4"><span>Capitale sociale:<span></div>
					<div class="c8"><input id="issuerStock" type="text" placeholder="Inserire il capitale sociale dell'emittente della fattura" value="{{issuer.stock}}"/></div>
				</div>

			</div>

		</div>

		<div id="accordion-addressee">

			<h3>Destinatario</h3>
			<div>

				<div class="row">
					<div class="c12"><button id="selectAddressee">Seleziona</button></div>
				</div>

				<div class="row">
					<div class="c4"><span>Intestazione:<span></div>
					<div class="c8"><input id="addresseeDescription" type="text" placeholder="Inserire l'intestazione del destinatario della fattura" value="{{addressee.description}}"/></div>
				</div>

				<div class="row">
					<div class="c4"><span>Indirizzo (1):<span></div>
					<div class="c8"><input id="addresseeAddress1" type="text" placeholder="Inserire la prima riga dell'indirizzo del destinatario della fattura" value="{{addressee.address1}}" /></div>
				</div>

				<div class="row">
					<div class="c4"><span>Indirizzo (2):<span></div>
					<div class="c8"><input id="addresseeAddress2" type="text" placeholder="Inserire la seconda riga dell'indirizzo del destinatario della fattura" value="{{addressee.address2}}" /></div>
				</div>

				<div class="row">
					<div class="c4"><span>Città:<span></div>
					<div class="c8"><input id="addresseeCity" type="text" placeholder="Inserire la città del destinatario della fattura" value="{{addressee.city}}" /></div>
				</div>

				<div class="row">
					<div class="c4"><span>Provincia:<span></div>
					<div class="c8"><input id="addresseeCounty" type="text" placeholder="Inserire la provincia del destinatario della fattura" value="{{addressee.county}}" /></div>
				</div>

				<div class="row">
					<div class="c4"><span>CAP:<span></div>
					<div class="c8"><input id="addresseeZipCode" type="text" placeholder="Inserire il CAP del destinatario della fattura" value="{{addressee.zipCode}}" /></div>
				</div>

				<div class="row">
					<div class="c4"><span>Partita IVA:<span></div>
					<div class="c8"><input id="addresseeVatCode" type="text" placeholder="Inserire il codice di partita IVA del destinatario della fattura" value="{{addressee.vatCode}}"/></div>
				</div>

				<div class="row">
					<div class="c4"><span>Codice fiscale:<span></div>
					<div class="c8"><input id="addresseeCfCode" type="text" placeholder="Inserire il codice fiscale del destinatario della fattura" value="{{addressee.cfCode}}"/></div>
				</div>

			</div>

		</div>

		<div id="accordion-receipt">

			<h3>Scontrino</h3>
			<div>

				<div class="row">
					<div class="c4"><span>Numero scontrino:<span></div>
					<div class="c8"><input id="receiptNumber" type="text" placeholder="Inserire il numero dello scontrino" value="{{receipt.number}}"/></div>
				</div>

				<div class="row">
					<div class="c4"><span>Data scontrino:<span></div>
					<div class="c8"><input id="receiptDate" type="text" placeholder="Inserire la data della scontrino" value="{{receipt.date}}" style="width:90%; margin-right: 5px;"/></div>
				</div>

				<div class="row">
					<div class="c4"><span>Ricevitore fiscale:<span></div>
					<div class="c8"><input id="cashRegisterModel" type="text" placeholder="Inserire il modello del ricevitore fiscale" value="{{receipt.cashRegister.model}}"/></div>
				</div>

				<div class="row">
					<div class="c4"><span>Matricola ricevitore:<span></div>
					<div class="c8"><input id="cashRegisterSerial" type="text" placeholder="Inserire la matricola del ricevitore fiscale" value="{{receipt.cashRegister.serial}}"/></div>
				</div>

			</div>

		</div>

		<div id="accordion-detail">

			<h3>Dettaglio</h3>
			<div id="invoice-rows">
			</div>

		</div>

		<div id="accordion-totals">

			<h3>Totali</h3>
			<div>

				<div class="row">
					<div class="c4"><span>Imponibile:<span></div>
					<div class="c8"><input id="totalsTaxable" type="text" value="{{totals.taxable}}" readonly="readonly"/></div>
				</div>

				<div class="row">
					<div class="c4"><span>Imposte:<span></div>
					<div class="c8"><input id="totalsTax" type="text" value="{{totals.tax}}" readonly="readonly"/></div>
				</div>

				<div class="row">
					<div class="c4"><span>Totale fattura:<span></div>
					<div class="c8"><input id="totalsTotal" type="text" value="{{totals.total}}" readonly="readonly"/></div>
				</div>

			</div>

		</div>

		<div class="row buttons">
			<div class="c12 right">
				<button id="back">Indietro</button>
				<button id="save">Salva</button>
				<button id="print">Stampa</button>
				<button id="freeze">Emetti</button>
			</div>
		</div>
	</div>

</div>
