<div class="grid">

	<div class="form s3 c6">

		<div class="header"><span>Login</span></div>
		<div class="subheader"><span>Inserire le proprie credenziali</span></div>

		<div class="row">
			<div class="c4"><span>Nome utente:<span></div>
			<div class="c8"><input id="username" type="text" placeholder="Inserire il proprio username" /></div>
		</div>

		<div class="row">
			<div class="c4"><span>Password:<span></div>
			<div class="c8"><input id="password" type="password" placeholder="Inserire la propria password" /></div>
		</div>

		<div class="row">
			<div class="c12 right">
				<button id="login">Login</button>
			</div>
		</div>
	</div>

</div>
