<div class="grid">

	<div class="row" style="margin-top: 2em;"></div>

	<div class="row">
		<div class="c6"><button style="width: 100%; height: 100px;" id="users">Utenti</button></div>
		<div class="c6"><button style="width: 100%; height: 100px;" id="contacts">Contatti</button></div>
	</div>

	<div class="row">
		<div class="c6"><button style="width: 100%; height: 100px;" id="invoices">Fatture</button></div>
		<div class="c6"><button style="width: 100%; height: 100px;" id="creditNotes">Note di Credito</button></div>
	</div>

	<div class="row">
		<div class="c6"><button style="width: 100%; height: 100px;" id="deliveryNotes">Bolle</button></div>
		<div class="c6"><button style="width: 100%; height: 100px;" id="repairs">Riparazioni</button></div>
	</div>

</div>
