html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size: 1.1em;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#header {
	padding: 10px;
	background: #5ee;
}

#main-content {
	padding: 10px;
	padding-bottom: 80px;   /* Height of the footer element */
}

#footer {
	width: 100%;
	height: 80px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #ee5;
}


/* Page transition management */

.page {
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-duration: 0.5s;
	transition-timing-function: ease;
	transform: translate3d(100%, 0, 0);
	-webkit-transform: translate3d(100%, 0, 0);
}

.page.is-visible {
  transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
}

/* Form management */

.form {
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size: .9em;
	background: #E6B2FF;
	padding: 0;
	margin-top: 2em;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.form .header {
	padding: .5em;
	background: #735980;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	font-size: 1.4em;
	font-weight: bold;
}

.form .subheader {
	padding: .5em;
	margin-bottom: .5em;
	font-size: 1em;
	font-style: italic;
	font-weight: normal;
}

.form .row {
	padding-left: .5em;
	padding-right: .5em;
}

.form input {
	width: 100%;
}

.form .field-error {
	background: #FF0000;
}
