html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size: 1em;
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px;
	padding-bottom: 40px;
	position: relative;
}

#header {
	background: #C2C2D6;
	height: 70px;
}

#header #main-title {
	font-size: 2em;
	font-weight: bold;
	line-height: 70px;
}

#main-content {
	padding-bottom: 40px;
}

#footer, #pusher {
	clear: both;
	width: 100%;
	height: 40px;
}

#footer {
	background: #C2C2D6;
	font-size: .7em;
}


/* Form management */

.form {
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size: .9em;
	background: #C4C6DE;
	padding: 0;
	margin-top: 2em;
	margin-bottom: 2em;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.form .header {
	padding: .5em;
	background: #9499D7;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	font-size: 1.4em;
	font-weight: bold;
}

.form .subheader {
	padding: .5em;
	margin-bottom: .5em;
	font-size: 1em;
	font-style: italic;
	font-weight: normal;
}

.form .row {
	padding-left: .5em;
	padding-right: .5em;
	margin-bottom: .5em;
}

.form .row.buttons {
	margin-top: 1em;
	margin-bottom: 1em;
}

.form input {
	width: 100%;
}

.form .field-error {
	background: #FF0000;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}
