body {
	font-family: sans-serif;
	font-size: 10pt;
}

div.header h1,h2 {
	text-align: center;
	margin: 0;
}

div.header h1 {
	font-size: 18pt;
	color: #000000;
	margin-bottom: 6pt;
}

div.header h2 {
	font-size: 12pt;
	color: #8F8F8F;
}

div.header {
	margin-bottom: 40pt;
}

.fullwidth {
	width: 100%;
	overflow: auto;
}

div.address {
	float: right;
	padding-right: 20pt;
	text-align: right;
}

div.address p {
	margin-top: 0;
	margin-bottom: 3pt;
}

div.invoice-data {
	width: 100%;
	overflow: auto;
	background: #CCCCCC;
}

div.invoice-data .left {
	float: left;
	padding-left: 20pt;
}

div.invoice-data .right {
	float: right;
	padding-right: 20pt;
}

div.register-data {
	width: 100%;
	overflow: auto;
}

div.register-data .left {
	float: left;
	padding-left: 20pt;
}

div.register-data .right {
	float: right;
	padding-right: 20pt;
}

div.detail {
	width: 100%;
	overflow: auto;
}

div.detail table {
	width: 100%;
	border-collapse: collapse;
}

div.detail td, th {
	border-style: solid;
	border-color: #000000;
	border-width: thin;
}

@page {
	size: a4 portrait;
	margin: .6in .6in .6in .6in;
}
