<div class="grid">

	<div class="form c12">

		<div class="header"><span>Dettaglio utente</span></div>
		<div class="subheader"><span>Inserire i dati dell'utente</span></div>

		<div class="row">
			<div class="c4"><span>Nome utente:<span></div>
			<div class="c8"><input id="username" type="text" placeholder="Inserire il campo username" value="{{username}}"/></div>
		</div>

		<div class="row">
			<div class="c4"><span>Nome:<span></div>
			<div class="c8"><input id="name" type="text" placeholder="Inserire il nome dell'utente" value="{{name}}" /></div>
		</div>

		<div class="row">
			<div class="c4"><span>Cognome:<span></div>
			<div class="c8"><input id="surname" type="text" placeholder="Inserire il cognome dell'utente" value="{{surname}}" /></div>
		</div>

		<div class="row">
			<div class="c4"><span>Password:<span></div>
			<div class="c8"><input id="password" type="password" placeholder="Inserire la password" /></div>
		</div>

		<div class="row">
			<div class="c4"><span>Conferma password:<span></div>
			<div class="c8"><input id="confirmPassword" type="password" placeholder="Ripetere la password" /></div>
		</div>

		<div class="row">
			<div class="c4"><span>Creato da:<span></div>
			<div class="c8"><span>{{createdBy}}</span></div>
		</div>

		<div class="row">
			<div class="c4"><span>Creato il:<span></div>
			<div class="c8"><span>{{createdOn}}</span></div>
		</div>

		<div class="row">
			<div class="c4"><span>Aggiornato da:<span></div>
			<div class="c8"><span>{{updatedBy}}</span></div>
		</div>

		<div class="row">
			<div class="c4"><span>Aggiornato il:<span></div>
			<div class="c8"><span>{{updatedOn}}</span></div>
		</div>

		<div class="row buttons">
			<div class="c12 right">
				<button id="back">Indietro</button>
				<button id="save">Salva</button>
			</div>
		</div>
	</div>

</div>
