<div class="grid">

	<div class="form c12">

		<div class="header"><span>Ricerca utenti</span></div>
		<div class="subheader"><span>Inserire i campi di ricerca</span></div>

		<div class="row">
			<div class="c4"><span>Nome utente:<span></div>
			<div class="c8"><input id="username" type="text" placeholder="Inserire parte dello username" /></div>
		</div>

		<div class="row">
			<div class="c4"><span>Cognome:<span></div>
			<div class="c8"><input id="surname" type="text" placeholder="Inserire parte del cognome" /></div>
		</div>

		<div class="row">
			<div class="c4"><span>Nome:<span></div>
			<div class="c8"><input id="name" type="text" placeholder="Inserire parte del nome" /></div>
		</div>

		<div class="row">
			<div class="c12 right">
				<button id="new">Crea nuovo</button>
			</div>
		</div>
	</div>

	<table id="list" class="c12">
		<thead>
			<tr>
				<th>Username</th>
				<th>Cognome</th>
				<th>Nome</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>Username</th>
				<th>Cognome</th>
				<th>Nome</th>
				<th>&nbsp;</th>
			</tr>
		</tfoot>
	</table>

</div>
