<div class="grid">

	<div class="form c12">

		<div class="header"><span>Dettaglio contatto</span></div>
		<div class="subheader"><span>Inserire i dati del contatto</span></div>

		<div class="row">
			<div class="c4"><span>Tipo contatto:<span></div>
			<div class="c8">
				<div id="isCompany">
					<input type="radio" id="company" name="isCompany" value="company"><label for="company">Azienda</label>
					<input type="radio" id="person" name="isCompany" value="person"><label for="person">Persona fisica</label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="c4"><span>Partita IVA:<span></div>
			<div class="c8"><input id="vatCode" type="text" placeholder="Inserire il codice di partita IVA" value="{{vatCode}}"/></div>
		</div>

		<div class="row">
			<div class="c4"><span>Codice fiscale:<span></div>
			<div class="c8"><input id="cfCode" type="text" placeholder="Inserire il codice fiscale" value="{{cfCode}}"/></div>
		</div>

		<div class="row">
			<div class="c4"><span>Ragione sociale:<span></div>
			<div class="c8"><input id="description" type="text" placeholder="Inserire la ragione sociale" value="{{description}}" /></div>
		</div>

		<div class="row">
			<div class="c4"><span>Titolo:<span></div>
			<div class="c8"><input id="salutation" type="text" placeholder="Inserire il titolo del contatto" value="{{salutation}}" /></div>
		</div>

		<div class="row">
			<div class="c4"><span>Nome:<span></div>
			<div class="c8"><input id="firstName" type="text" placeholder="Inserire il nome del contatto" value="{{firstName}}" /></div>
		</div>

		<div class="row">
			<div class="c4"><span>Cognome:<span></div>
			<div class="c8"><input id="lastName" type="text" placeholder="Inserire il cognome del contatto" value="{{lastName}}" /></div>
		</div>

		<div class="row">
			<div class="c4"><span>Indirizzo (1):<span></div>
			<div class="c8"><input id="address1" type="text" placeholder="Inserire la prima riga dell'indirizzo" value="{{address1}}" /></div>
		</div>

		<div class="row">
			<div class="c4"><span>Indirizzo (2):<span></div>
			<div class="c8"><input id="address2" type="text" placeholder="Inserire la seconda riga dell'indirizzo" value="{{address2}}" /></div>
		</div>

		<div class="row">
			<div class="c4"><span>Città:<span></div>
			<div class="c8"><input id="city" type="text" placeholder="Inserire la città" value="{{city}}" /></div>
		</div>

		<div class="row">
			<div class="c4"><span>Provincia:<span></div>
			<div class="c8"><input id="county" type="text" placeholder="Inserire la provincia" value="{{county}}" /></div>
		</div>

		<div class="row">
			<div class="c4"><span>CAP:<span></div>
			<div class="c8"><input id="zipCode" type="text" placeholder="Inserire il CAP" value="{{zipCode}}" /></div>
		</div>

		<div class="row">
			<div class="c4"><span>Paese:<span></div>
			<div class="c8"><input id="country" type="text" placeholder="Inserire la nazione" value="{{country}}" /></div>
		</div>

		<div class="row">
			<div class="c4"><span>Telefono:<span></div>
			<div class="c8"><input id="phone" type="text" placeholder="Inserire il numero di telefono" value="{{phone}}" /></div>
		</div>

		<div class="row">
			<div class="c4"><span>Fax:<span></div>
			<div class="c8"><input id="fax" type="text" placeholder="Inserire il numero di fax" value="{{fax}}" /></div>
		</div>

		<div class="row">
			<div class="c4"><span>Email:<span></div>
			<div class="c8"><input id="email" type="text" placeholder="Inserire l'indirizzo di posta elettronica" value="{{email}}" /></div>
		</div>

		<div class="row">
			<div class="c4"><span>Creato da:<span></div>
			<div class="c8"><span>{{createdBy}}</span></div>
		</div>

		<div class="row">
			<div class="c4"><span>Creato il:<span></div>
			<div class="c8"><span>{{createdOn}}</span></div>
		</div>

		<div class="row">
			<div class="c4"><span>Aggiornato da:<span></div>
			<div class="c8"><span>{{updatedBy}}</span></div>
		</div>

		<div class="row">
			<div class="c4"><span>Aggiornato il:<span></div>
			<div class="c8"><span>{{updatedOn}}</span></div>
		</div>

		<div class="row">
			<div class="c12 right">
				<button id="back">Indietro</button>
				<button id="save">Salva</button>
			</div>
		</div>
	</div>

</div>
